.task_input__block{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_col_block{
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-bottom: 25px;
}

.submit__btn{
    width: 80px;
    cursor: pointer;
    height: 30px;
    background: green;
}