

.align_block__main{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
    margin-top: 20px;
}

.input__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 480px;
    width: 90%;
    flex-direction: column;
}

